.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.text-blue {
  color: #42affa !important;
}

.text-red {
  color: #f92672 !important;
}

.text-green {
  color: #a6e22e !important;
}
